:root {
  --primary-color: #5D4B61;
  --secondary-color: #A54E55;
  --accent1-color: #E4946D;
  --accent2-color: #E6D0C5;
  --accent3-color: #4B334E;

  --heading-font: "Calistoga", "Merriweather", "Lucida Console", "Times New Roman", Trebuchet, Serif;
  --paragraph-font: "Merriweather", "Lucida Console", "Times New Roman", Trebuchet, Serif;

  --headline-color-on-white: #a54e55;
  --headline-color-on-color: #4B334E;
  --paragraph-color-on-white: #5D4B61;
  --paragraph-color-on-color: #4B334E;
  --paragraph-background-color: #E6D0C5  ;
  --nav-link-color: white;
  --nav-background-color: #5D4B61;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #a54e55;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4rem;
  font-size: 18px;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
  border: solid var(--accent1-color);
}
header {
  padding: 1rem;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header h1, header h2 {
  color: var(--headline-color-on-color);
}
p, li {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
}

p {
  padding: 1rem;
}

li {
  padding: .5rem;
}

img.wireframe {
  display: block;
  margin: 0 auto;
  max-width: 38rem;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 20%;
  height: 3rem;
}
.primary {
  background-color: var(--primary-color);
  color: white;
}
.secondary {
  background-color: var(--secondary-color);
  color: white;
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
.accent3{
  background-color: var(--accent3-color);
  color: white;
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3rem;
  text-align: center;
  font-size: 1.2rem;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding: 1rem;
  width: 100%;
  text-decoration: none;
  padding: 10px;
}
nav a {
  color: var(--nav-link-color);
}
nav a:hover, nav a.active {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

li {
  text-align: left;
}