:root {
    --color-one: #4b334e;
    --color-two: #5d4b61;
    --color-three: #a54e55;
    --color-four: #e4946d;
    --color-five: #e6d0c5;
    --color-six: #fff;
    --color-seven: rgba(255, 255, 255, 0.5);
    --color-eight: rgba(255, 159, 95, 0.499);

    --fancier-font: "Calistoga", "Merriweather", "Lucida Console", "Times New Roman", Trebuchet, Serif;
    --general-font: "Merriweather", "Lucida Console", "Times New Roman", Trebuchet, Serif;
}

img.placeholder {
    opacity: 0.5; /* just for placeholder */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--general-font);
    color: var(--color-one);
    background-color: var(--color-two);
    max-width: 2000px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fancier-font);
}

header {
    color: var(--color-three);
    background-color: var(--color-five);
    padding: 1rem;
    display: flex;
    border-top: 1rem solid var(--color-two);
    border-bottom: 1rem solid var(--color-two);
}

header.open {
    border-bottom: none;
}

header h1 {
    font-size: 2.5rem;
    margin: auto 0;
}

header h1 .smaller {
    font-size: 1.5rem;
    display: block;
    text-wrap: nowrap;
}

header img {
    margin-right: 1rem;
}

#menuButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--color-one);
    cursor: pointer;
    width: 44px;
    text-align: center;
    margin: .5rem 2vw;
    padding-bottom: 4px;
    position: absolute;
    top: .7rem;
    right: -.3rem;
}

#menuButton:hover {
    background: var(--color-four);
    border-radius: 5px;
}

#menuButton::before {
    content: "\2630";
}

#menuButton.open::before {
    content: "x"
}

ul.menuLinks {
    display: none;
}

ul.menuLinks.open {
    display: block;
}

#topNav {
    background-color: var(--color-two);
}

#topNav a {
    color: var(--color-six);
}

nav li {
    display: block;
    list-style-type: none;
    padding: 0;
}

nav a {
    display: block;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav a:hover, nav a.active {
    background-color: var(--color-three);
}

.hero {
    max-width: 1100px;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    max-height: 25rem;
}

main {
    background-color: var(--color-six);
}

a.join {
    position: absolute;
    top: 11rem;
    left: .8rem;
    padding: 1rem;
    font-family: var(--fancier-font);
    color: #4b334e;
    background: radial-gradient(var(--color-five), var(--color-four));
    border: 4px solid var(--color-four);
    border-radius: 10px;
    opacity: .75;
    text-decoration: none;
}

a.join::before {
    content: "Join Today";
}

main .contents:not(.card .contents, .directory) {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    display: block;
}

main .contents.thank h2{
    text-align: center;
    margin: 4rem 0;
}

.card {
    color: var(--color-one);
    border: 2px solid var(--color-two);
    background-color: var(--color-five);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.card h2:not(.link, #directory section h2) {
    text-align: center;
    padding: .75rem;
    color: var(--color-six);
    background-color: var(--color-three);
    border-bottom: 2px solid var(--color-one);
    font-weight: 600;
}

.card .contents {
    padding: 10px;
}

.card h3, .card.nav h2.link {
    padding: 5px;
}

.card p:not(#weather p) {
    padding-left: 15px;
}

.card.nav h3 {
    padding-left: 15px;
}

.card.nav h4 {
    padding-left: 30px;
}

.card a {
    color:var(--color-three);
    text-decoration: none;
}
.card a:hover {
    color: var(--color-four);
}

#about {
    max-height: fit-content;
}

#about.card .contents p{
    text-align: left;
    padding: 15px;
    font-size: 1.1rem;
}

#navCard {
    display: none;
}

#navCard a{
    color: var(--color-one);
}

#navCard a:hover {
    color: var(--color-three);
}

footer {
    color: var(--color-six);
    background-color: var(--color-two);
    padding: 1rem;
    display: block;
    font-size: .8rem;
    max-width: 1200px;
    margin: 0 auto;
}

footer h2 {
    font-size: 2rem;
}

footer h2 .smaller {
    font-size: 1rem;
    display: block;
    text-wrap: nowrap;
}

div.logo {
    display: flex;
    align-items: center;
}

div.logo img {
    margin-right: 1rem;
}

footer a{
    color: var(--color-six);
}

footer a:hover {
    color: var(--color-four);
}

div.contactUs {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

div.contactInfo {
    margin: 1rem;
    align-self: end;
}

.contactInfo p{
    text-align: center;
    margin-bottom: .5rem;
}

footer .devInfo {
    grid-column: 1/3;
    text-align: center;
    margin-top: 1rem;
}

/* ----- Weather ----- */

#weather {
    text-align: center;
}

.mainWeather div.weather {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

#weather img {
    margin: -.5rem;
}

.mainWeather img {
    height: 90px;
    width: auto;
}

#weather h3, h4, h5, p {
    padding-bottom: .5rem;
}

#weather h3 {
    font-size: 1.2rem;
}

#weather h4 {
    font-size: 1.1rem;
}

#weather .forecast h4 {
    font-size: 1rem;
}

#weather h5, .forecast p {
    font-size: .9rem;
}

#weather hr, #spotlight hr {
    margin-bottom: .5rem;
    height: 2px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-one);
}

.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.forecast h3, hr, div.date {
    grid-column: 1/3;
}

.secWeather:not(:last-child, :nth-of-type(8)) {
    margin-bottom: .5rem;
}

.morn {
    border-right: 2px solid var(--color-one);
}

.forecast.hidden *:not(hr:nth-of-type(1), #forecastButton, #forecastButton span) {
    display: none;
}

.arrow  {
    margin-left: .5rem;
}

.forecast h3:hover {
    background-color: var(--color-four);
    border-radius: 5px 5px 0 0;
}

.forecast.hidden h3:hover {
    border-radius: 5px;
}

.arrow::before {
    content: "\25B2"
}

.open .arrow::before {
    content: "\25BC";
}

/* ----- Banner ----- */

.hero.bannerOpen {
    background: var(--color-four);
}

#banner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    background: var(--color-three);
    border: 4px solid var(--color-four);
    border-top: none;
    color: var(--color-six);
    text-align: center;
    position: relative;
}

#banner.hidden {
    display: none;
}

#banner h3 {
    font-size: 1.25rem;
}

#banner h3, p {
    padding-bottom: .5rem;
}

#banner .desc {
    background-color: var(--color-six);
    border: 4px solid var(--color-four);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-top: 7px;
}

#banner .desc p {
    color: var(--color-one);
    line-height: 1.6rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#banner .desc p.visitors {
    font-family: var(--fancier-font);
    font-size: 1.2rem;
}

#bannerButton {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background: none;
    border: none;
    color: var(--color-six);
    cursor: pointer;
    width: 44px;
    height: 44px;
    text-align: center;
    margin: 5px;
    padding-bottom: 4px;
    position: absolute;
    top: 0;
    right: 0;
}

#bannerButton:hover {
    background: var(--color-four);
    border-radius: 5px;
}

#banner .desc .date {
    color: var(--color-one);
    background-color: var(--color-eight);
    padding: 4px;
    border-radius: 10px;
    text-wrap: nowrap;
}

/* ----- Spotlights ----- */

#spotlight section .contents {
    display: flex;
}

#spotlight section img {
    max-width: 150px;
    max-height: 135px;
    width: auto;
}

#spotlight hr {
    max-width: 95%;
    margin: 0 auto;
}

#spotlight .contents section:last-child hr {
    display: none;
}

/* ----- Gallery ----- */

.gallery h2 {
    font-size: 2rem;
    padding-left:2rem;
    margin-bottom: .5rem;
}

.gallery hr {
    margin-bottom: 1.5rem;
    height: .3rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-three);
}

.gallery img {
    width: 100%;
    height: 100%;
    display: block;
}

.gallery div:not(div:last-of-type) {
    margin-bottom: 1.5rem;
}

.gallery div {
    position: relative;
}

.gallery div span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--color-seven);
    font-family: var(--fancier-font);
    font-size: 1.125rem;
}

/* ----- Form ----- */

.contents.form .side {
    height: fit-content;
}

form {
    display: block;
    max-width: 480px;
    text-align: center
}

form fieldset.card {
    box-shadow: none;
    margin-bottom: 1rem;
}

form label:not(.sbs), form div {
    font-family: var(--fancier-font);
}

form label, form label input:not(.sbs input), form div {
    font-size: 1.1rem;
    text-align: left;
    display: block;
    padding: .5rem;
    width: 100%;
}

form label input, form label textarea {
    font-family: var(--general-font);
    margin-top: .1rem;
    border: 2px solid var(--color-two);
    border-radius: 5px;
}

form label textarea {
    width: 100%;
    min-height: 5rem;
    resize: vertical;
    padding: .5rem;
    font-size: 1rem;
}

form label.sbs input {
    margin-left: 1rem;
}

form label input:not(input:focus), form label textarea:not(textarea:focus) {
    background-color: #e5e5e5;
}

form input[type="submit"].card {
    padding: 1rem;
    box-shadow: none;
    font-weight: 600;
}

form label input:required {
    border-left: 6px solid red;
}

form label input:required:valid {
    border-left: 6px solid green;
}

/* ----- Directory ----- */

main div.contents.directory {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto min-content;
    grid-gap: 0;
}

.direcButtons {
    grid-column: 2/3;
    width: max-content;
    margin: 0 1rem;
}

#directory {
    grid-column: 1/3;
}

#gridButton, #listButton {
    font-size: 2rem;
    background: var(--color-five);
    border: none;
    color: var(--color-one);
    cursor: pointer;
    width: 44px;
    text-align: center;
    margin: .5rem 0;
}

#gridButton {
    padding: 0 6px 4px 3px;
    border-left: 1px solid var(--color-one);
    border-radius: 0 5px 5px 0;
}

#listButton {
    padding: 0 3px 4px 6px;
    border-right: 1px solid var(--color-one);
    border-radius: 5px 0 0 5px;
}

#gridButton.grid, #listButton.list {
    background: var(--color-four);
}

#gridButton:hover, #listButton:hover {
    background: var(--color-three);
    color: var(--color-six);
}

#listButton::before {
    content: "\2630";
}

#gridButton::before {
    content: "\229E";
}

#directory section.card p{
    margin: 0;
    padding: 0;
}

#directory section.card p:not(p:last-of-type) {
    margin-bottom: .5rem;
}

/* ----- Directory Grid View ----- */

#directory.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 1.5rem;
}

#directory.grid section.card {
    text-align: center;
    max-width: 340px;
    min-width: 288px;
    height: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .3rem .5rem .125rem var(--color-two);
    margin: auto;
}

#directory.grid section.card p.name {
    display: none;
}

#directory.grid section.card img{
    margin-bottom: 1rem;
    max-height: 135px;
    width: auto;
}

/* ----- Directory List View ----- */

#directory.list {
    display: block;
    width: 100%;
}

#directory.list section.card {
    border-radius: 0;
    border: none;
    margin: 0;
}

#directory.list section.card:nth-child(even){
    background-color: var(--color-six);
}

#directory.list section.card .contents {
    text-align: left;
}

#directory.list section.card p {
    max-width: fit-content;
    word-break: break-word;
}

#directory.list section.card img {
    display: none;
}