@media only screen and (max-width: 25rem) {

    h1 .smaller .breakLine::before {
        /* This way, since the text is set to nowrap in 
        the base.css, 'Chamber of Commerce' will only 
        wrap after 'of' and make two nice lines, rather 
        than after both 'Chamber' and 'of', making three 
        ugly lines */
        content: "\a";
        white-space: pre;
    }

}

@media only screen and (max-width: 29rem) {

    div.contactUs {
        display: block;
    }
    div.contactUs div.logo {
        display: flex;
        justify-content: center;
    }
    
}