* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-one: white;
    --color-two: #ffe7e5;
    --color-three: #edaeab;
    --color-four: #ca7873;
    --color-five: darkcyan;
    --color-six: rgb(0, 95, 95);
    --color-seven: rgb(0, 65, 65);
    --color-eight: black;

    --border-type-one: 2px solid;
}

body {
    background-color: var(--color-one);
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}

header {
    background-color: var(--color-three);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header span {
    padding: 10px;
    font-size: 2rem;
}

header img {
    border: var(--border-type-one) var(--color-four);
    border-radius: 10px;
}

nav {
    background-color: var(--color-six);
    border-top: var(--border-type-one) var(--color-seven);
}

nav.closed {
    border-bottom: var(--border-type-one) var(--color-seven);
}

#menuButton, #darkButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--color-eight);
    background: var(--color-three); /* Must color background or contrast checkers will use nav background color and may declare it to be bad contrast. */
    border-radius: 10%;
    cursor: pointer;
    width: 44px;
    text-align: center;
    margin: .5rem 2vw;
    
}

#menuButton:hover, #darkButton:hover {
    background: var(--color-four);
    border-radius: 5px;
}

#menuButton {
    padding: 2px 0px;
    position: absolute;
    top: 0;
    right: 0;
}

#darkButton {
    padding-top: 6px;
    position: absolute;
    top: 2.5rem;
    right: 0;
}

#menuButton::before {
    content: "\2630";
}

#menuButton.open::before {
    content: "x"
}

ul.menuLinks {
    display: none;
}

ul.menuLinks.open {
    display: block;
}

nav li {
    display: block;
    list-style-type: none;
    padding: 0;
}

nav a {
    display: block;
    color: var(--color-one);
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    border-bottom: var(--border-type-one) var(--color-seven);
}

nav a:hover {
    background-color: var(--color-five);
}

nav .active {
    background-color: var(--color-seven);
}

main {
    padding: 0 2rem;
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    color: var(--color-seven);
    margin-top: .25rem;
}

hr {
    grid-column: 1/3;
    margin-bottom: 1rem;
    border: 1px solid var(--color-seven);
}

.card {
    border: var(--border-type-one) var(--color-four);
    background-color: var(--color-two);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.card h2 {
    text-align: center;
    padding: .75rem;
    background-color: var(--color-three);
    border-bottom: var(--border-type-one) var(--color-four);
    font-weight: 600;
}

.card p, li {
    padding: 5px 10px 5px 10px;
}

.card li {
    list-style-type: none;
}

.card a {
    color: var(--color-seven);
}
.card a:hover {
    color: var(--color-five);
}

footer {
    font-weight: 400;
    color: var(--color-seven);
    text-align: center;
    padding: 1rem;
    margin-bottom: .5rem;
}

footer p{
    padding: .2rem;
}

.hero {
    grid-column: 1/3;
    position: relative;
}

.hero picture {
    width: 100%
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero span {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: radial-gradient(var(--color-one), var(--color-two));
    opacity: 0.6;
    border: var(--border-type-one) var(--color-four);
    border-radius: 10px;
    padding: 1rem;
    white-space: nowrap;
}

.map iframe{
    /*  If the iframe width and height are not set to 
    100% and !important, the map either doesn't fill the 
    whole area, or takes up too much space, ignoring the 
    css. */
    width: 100% !important;
    height: 100% !important;
}

.map {
    grid-column: 1/3;
    width: 100%;
    height: 15rem;
    margin: 1rem auto;
}

main.form, main.record {
    display: block;
    text-align: center;
}

main.record {
    padding: 5rem;
    margin-top: 1rem;
}

img.weather-icon {
    /*background-color: white;*/
    margin-bottom: -.8rem;
    margin-right: .2rem;
}