body.dark {
    background-color: black;
}

header.dark {
    background-color: #ca7873;
}

header img.dark {
    border: 2px solid #ffe7e5;
}

nav.dark {
    border-top: 2px solid rgb(50, 170, 170);
}

nav.closed.dark {
    border-bottom: 2px solid rgb(50, 170, 170);
}

#menuButton.dark:hover, #darkButton.dark:hover {
    background: #edaeab;
}

nav a.dark {
    border-bottom: 2px solid rgb(50, 170, 170);
}

nav.closed a.dark{
    border: none;
}

nav a.dark:hover {
    background-color: rgb(50, 170, 170);
}

h1.dark {
    color: rgb(50, 170, 170);
}

hr.dark {
    border: 1px solid rgb(0, 139, 139);
}

.card.dark {
    border: 2px solid #ffe7e5;
    background-color: #edaeab;
}

.card h2.dark {
    background-color: #ca7873;
    border-bottom: 2px solid #ffe7e5;
}

.card a.dark {
    color: rgb(0, 55, 55);
}
.card a.dark:hover {
    color: rgb(50, 170, 170);
}

footer.dark {
    color: rgb(50, 170, 170);
}